*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    color: #5A5A5A;
}


.container{
    display: grid;
    height: 100%;
    position: absolute;
    grid-template-columns: 1fr 4fr;
}


.header{
    display: grid;
    grid-column: 2/-1;
    box-shadow:
    inset 0 -0.5em 0.5em rgb(0 0 0 / 20%),
    0.3em 0.3em 1em rgb(0 0 0 / 60%);
    padding-bottom: 15px;
}

    

.sidebar{
    background-color: #1992d4;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    grid-row: 1/3;
}

.trending{
    grid-column: 2;
}

.main-container{
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    
    
}

.all-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.right-bar{
    padding-left: 15px;
}

.card{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-radius: 15px;
    height: 300px;
    border-left: 10px solid #F5A9B8;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}


.announcements, .trending{
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);

}

.main-content-header{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.hi-there{
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-bottom: 5px;
}

.top-header-row{
    display: flex;
}

.bottom-header-row{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    align-items: center;
}


.dashboard, .home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px;
    gap: 15px;
}

.dashboard-header{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.header-button{
    background-color: #1992d4;
    border-radius: 20px;
    width: 5em;
    height: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy{
    display: flex;
    margin-left: 15px;   
}

.home{
    margin-top: 30px;
}


.communities{
    margin-bottom: 50px;
}

.dashboard-button, .header-button{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-header-row{
    display: grid;
    grid-template-columns: 1fr 12fr 1fr 1fr 3fr;
    padding-top: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}





.search-rectangle{
    height: 40px;
    border-radius: 20px;
    background-color: #e2e8f0;
    margin-right: 30px;
}

.top-header-row > .profile-photo{
    margin-right: 20px;
    margin-left: 0;
}

.bottom-header-row > .profile-photo, .top-header-row > .magnifying-glass{
    margin-left: 20px;
}

.white-image{
    filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(101deg) brightness(106%) contrast(104%);
}

